.div1 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.parte1 {
  text-align: center;
}

.paragrafo1 {
  text-align: center;
  border-style: groove border;
  border-color: rgb(170, 223, 116);
}
.pp1 {
  text-align: center;
}
.image2 {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.pp2 {
  text-align: center;
}
.featured {
  text-align: center;
  color: rgb(238, 14, 14);
}
.ingredients {
  text-align: center;
}
.forthe {
  text-align: center;
}
.lista {
  text-align: center;
  list-style: none;
}
.method {
  text-align: center;
}
.make {
  text-align: center;
  list-style: none;
}

.ciao {
  text-align: center;
}
.finale {
  text-align: center;
}
.footer {
  text-align: center;
}
